@model Chushka.Models.CreateRoleModel
<form class="mx-auto half-width" method="post" >
        <div class="form-group">
            <label asp-for="RoleName">Name</label>
            <input type="text" class="form-control" placeholder="Name..." asp-for="RoleName">
        </div>
    <div class="button-holder mt-2 d-flex justify-content-center">
        <button type="submit" class="btn chushka-bg-color">Create</button>
        </form>